body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('whatsapp.png');
    /* background-color: #f0f0f0; */
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.groups {
    background-color: white;
    width: 35%;
    overflow-y: auto; /* Add this to enable scrolling for groups if needed */
}

.contents {
    width: 65%; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    position: relative; /* Add this to establish positioning context */
}

.chats {
    flex-grow: 1;
    overflow-y: auto; /* Add this to enable scrolling only for chats */
    
    padding: 10px;
}

.chat-container {
    background-color: #128C7E;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 10px;
}

.message-container {
    width: 100%;
}

#message {
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px;
}

#send {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1px;
}

.chat-bubble {
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

.outgoing {
    float: right;
    background-color: #DCF8C6;
}

.incoming {
    float: left;
    background-color: #E5E5EA;
}

.message {
    padding: 10px;
    margin: 0;
}

.timestamp {
    position: absolute;
    bottom: 3px;
    font-size: 10px;
    color: #999;
}

.incoming::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    border-width: 8px 8px 8px 0;
    border-style: solid;
    border-color: transparent #E5E5EA transparent transparent;
}

.outgoing::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #DCF8C6;
}

.App {
    display: flex;
    align-items: center; /* Center items vertically */
    background-color: #128C7E;
}

h1 {
    margin-right: 20px;
    color: white; /* Adjust spacing between the name and button */
}

#createGroupButton {
    padding: 5px 10px; /* Adjust button padding as needed */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}


/* Modal Styles starts here */

.modal, .modal-editgroup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content, .modal-editcontent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close, .close-editGroup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .close-editGroup:hover,
  .close-editGroup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* Modal Styles end here */

  /* Chat List Styles starts here */
.selected {
    background-color: #cdcbcb; /* Change background color to indicate selection */
}

.groupname {
    padding: 20px;
    font-family: calibri;
    font-size: 20px;

}

h2{
    font-family: cursive;
}

/* Chat List Styles ends here */

/* chat box */

.sender-name {
    font-weight: bold; /* Make the name bold */
    margin-right: 5px; /* Add some spacing between name and timestamp */
    color: red;
    font-size: 10px;
}

.group-name{
    display: flex;
    background-color:#128C7E;
}

#add-members{
    display: inline-block;
    padding: 5px 10px;
    
    border-radius: 5px;
    background-color: #007bff; /* Blue color, you can change it */
    color: #ffffff; /* White text color */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
}
#add-members:hover{
    background-color: #0056b3;
}
#add-members[disabled] {
    color: #999; /* Grey text color */
    background-color: #ccc; /* Grey background color */
    cursor: not-allowed; /* Cursor style */
}




