body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('whatsapp.png');
    /* background-color: #f0f0f0; */
}

.container {
    width: 100%;
    background-color: #128C7E;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

h2{
    font-family: Calibri;
    color: white;
    font-size: 30px;
}
.chat-container {
    width: 100%;
    background-color: #128C7E;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

#message {
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px;

}



#send {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1px;
}






.test {
    width: 100%;
    max-width: 400px; /* Adjust the max-width according to your preference */
    margin: 20px auto;
}

.chat-bubble {
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

.outgoing {
    float: right;
    background-color: #DCF8C6; /* Adjust the background color for outgoing messages */
}

.incoming {
    float: left;
    background-color: #E5E5EA; /* Adjust the background color for incoming messages */
}

.message {
    padding: 10px;
    margin: 0;
}

.timestamp {
    position: absolute;
    bottom: 3px;
    font-size: 10px;
    color: #999;
}

/* Triangle/Caret for outgoing chat bubble */
.outgoing::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px; /* Adjust the position of the caret */
    border-width: 8px 8px 8px 0;
    border-style: solid;
    border-color: transparent #DCF8C6 transparent transparent; /* Adjust the border color */
}

/* Triangle/Caret for incoming chat bubble */
.incoming::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px; /* Adjust the position of the caret */
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #E5E5EA; /* Adjust the border color */
}
